{% extends "base.html" %}
{% block title%}{{question.title}}{% endblock %}

{% block content%}
{{question.author.username|title}} pregunta:<br/>
<a href="{{question.get_absolute_url}}">{{question.title|capfirst}}</a><br/>	
{{question.text|striptags|urlize}}<br/>
<br/>
Repuestas<br/>
{%for answer in answers.object_list%}
	{{answer.author.username|title}} respondió:<br/>
	{{answer.text|striptags|urlize}} <br/> <br/>
	Votos Positivos: {{answer.positive_votes}} | Votos Negativos: {{answer.negative_votes}}<br/> <br/>
    <p>username = {{ user.id }}</p>
    {% if user.is_authenticated %}
        <p>users: {{ user.id }} {{ question.author.id }}</p>
        {% ifequal user.id question.author.id %}
        <form action="/soporte/correcta" method="POST">
            <input type="hidden" value"{{ question.pk }}" />
            <p><input type="submit" value="Correcta! &rarr;" /></p>
        </form>
        {% endifequal %}
    {% endif %}
{%endfor%}
{%if form%}
	<form action="/soporte/pregunta/{{question.id}}/responder" method = "POST">
		{{form.as_p}}
		<input type="Submit" value="Responder"/>
	</form>
{%endif%}
{% endblock %}
