{% extends "base.html" %}
{%block extra_head%} <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/planet/feeds/planet/" />{%endblock%}

{% block title%}Articulos de {{ author.title }}  {% endblock %}

{% block content%}
<div id="page-subtitle">Mostrando las entradas de: </div>
<div id="page-title"> {{author.title}} </div>
{% for post in posts %}
<div id="post">	
	<div id="post-title"><a href="/planeta/articulo/{{post.id}}" />{{post.title}}</a></div><!-- post-title -->
	<div id="post-content">{{post.summary|safe}}</div><!-- post-content -->
</div><!-- post -->
{%endfor%}
{% endblock %}
