{% extends "../base.html"}
{%block extra_head%} <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/planet/feeds/planet/" />{%endblock%}

{% block title%}Bienvenidos{% endblock %}

{% block content%}
<div id="opciones">
	<div class="opcion"> <!-- opcion uno -->
		<div class="encabezado">
			<a  href="/planeta/articulos/"/>Articulos</a>
			<!--<img src="/archivos/imagenes/planeta/backarticulos.png" /> -->
		</div><!-- encabezado -->
		<div class="contenido">
		</div>
	</div> <!-- opcion uno -->
	<div class="opcion"> <!-- opcion dos -->
		<div class="encabezado">
			<a  href="/planeta/noticias/"/>Noticias</a>
			<!--<img src="/archivos/imagenes/planeta/backnoticias.png" /> -->
		</div><!-- encabezado -->
		<div class="contenido">
		</div>
	</div> <!-- opcion dos -->
	<div class="opcion"> <!-- opcion tres -->
		<div class="encabezado">
			<a  href="/planeta/articulos/"/>Eventos LinuxTour</a>
			<!--<img src="/archivos/imagenes/planeta/backeventos.png" /> -->
		</div><!-- encabezado -->
		<div class="contenido">
		</div>
	</div> <!-- opcion tres -->
</div>
{% endblock %}
